body {
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        font-size: 100%;
        width: 620px;
        height: 500px;
        padding: 30px 10px;
      }
      #messages{
        width: 100%;
        padding: 0px;
        margin: 0px;
      }
      #messages li:first-child{
            margin-top: -20px;
      }
      #messages li:last-child{
            margin-bottom: 20px;
      }
      
      #messages li{
        width: 100%;
        margin-top: 5px;
        list-style: none;
        border-radius: 3px;
        padding: 3px 5px;
        font-weight: 300;
      }
      #messages li.warning{
        background-color: #ffce08;
      }
      #messages li.error{
        background-color: #f9006c;
      }
      #messages li.success{
        background-color: #0fce7c;
      }
      #bot{
        float:left;
        padding: 10px;
      }
      #bot img{
        height: 150; 
        height: 150px;
      }
      #input{
        width: 100%;
        word-wrap: break-word;
      }
      #input h1{
        margin-top: 10px;
      }
      #history{
        float:right;
        width: 75%;
      }
      h1{
        font-size: 18px;
      }
      .btn-primary {
        background-color: #15003e;
      }
      a {
        color: #15003e;
      }

      .bot_desc{
        margin-top: -10px;
      }
      .gitcoin_button{
        background-color: #15003e; color: #25e899; background-image: linear-gradient(-180deg, #15003e 0%, #190032 90%);
      }

      body{
        background: url(https://gitcoin.co/static/v2/images/light-bg.png);
        background-position: cover;
      }

      #search_bar {
        border-radius: 16px;
        height: 32px;
        border: 1px solid #eee;
        outline: none;
        padding-left: 10px;
        font-weight: 300;
        border: 1px solid black !important;
        width: 80%;
      }