* {
  box-sizing: border-box;
}

body {
  background-color: #232c39;
  background: linear-gradient(120deg, #183682, #0d023b);
  font-family: Roboto,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
  height: 100vh;
  margin: 0;
  position: relative;
}
header,
main,
footer {
    display: inline-block;
    float:left; /* Fixing float/space issues. Yes we need this on inline-block. */
    position: relative;
    z-index: 5;
}

aside {
    overflow-y: hidden;
}

p, a, span {
    font-family: Roboto,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Akrobat, Raleway,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
    margin: 0;
    position: relative;
    transition: all 0.12s ease;
    z-index: 10;
}

h1 {
  font-size: 2.75rem;
  font-weight: lighter;
  margin-bottom: 12.5px;
}
h2 {
  font-size: 2.35rem;
  font-weight: bold;
  margin-bottom: 8.5px;
}
h3 {
  font-size: 1.85rem;
  font-weight: normal;
  margin-bottom: 5.5px;
}

h4 {
  font-size: 1.55rem;
  font-weight: bold;
  margin-bottom: 4.5px;
}

h5 {
  font-size: 1.35rem;
  font-weight: normal;
  margin-bottom: 3.5px;
}

h6 {
  font-size: 1.15rem;
  font-weight: bold;
}

p {
  font-size: 15px;
  line-height: normal;
  margin-bottom: 10px;
}

li {
    font-weight: 300;
    margin-bottom: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

button {
  align-items: center;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  outline: none;
  position: relative;
  text-decoration: none;
  transition: background-color 250ms ease-out, color 250ms ease-out, border-color 250ms ease-out,top 350ms ease-out;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  white-space: nowrap;
}

button:active {
  top: 2px;
  outline: none;
}  

img {
  max-width: 100%;
}

.Popover {
  z-index: 10000;
}

.dark-toast{
  background: #323232;
  color: #fff;
}
 
.dark-toast > .toastify__close{
  color: #fff;
}
 
.transparent-progress{
  background:  rgba(255,255,255,.7);
}

