.ory-cell-leaf {
  margin: 12px;
}

.ory-plugins-content-divider {
  background-color: #aaa;
  width: 100%;
  height: 2px;
  border: none;
}

.editable-area code, .editable-area pre {
  font-family: monospace;
  border-radius: 0.3em;
  padding: 0.4em;
}

.editable-area code {
  display: inline;
  margin: 0 0.5em;
  white-space: pre;
}

.editable-area pre {
  display: block;
  margin: 1em;
}

.editable-area ul, .editable-area ol {
  margin: 1em 0;
  list-style-type: inside;
}

.editable-area li {
  margin: .2em 0 .2em 1em;
}

.editable-area li p {
  margin: 0;
}

.editable-area ol {
  list-style-type: decimal;
}

.editable-area ul {
  list-style-type: disc;
}

.ory-plugins-layout-parallax-background {
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 12px;
}

.ory-cell-leaf {
  padding: 8px;
}


.ory-editable {
  margin-right: auto;
  margin-left: auto;
  padding-right: 32px;
  padding-right: 2rem;
  padding-right: 0px;
  padding-right: 0rem;
  padding-left: 32px;
  padding-left: 2rem;
  padding-left: 0px;
  padding-left: 0rem;
}

.ory-row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -8px;
  margin-right: -0.5rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-left: -8px;
  margin-left: -0.5rem;
  margin-left: 0px;
  margin-left: 0rem;
  position: relative;
}

.ory-cell-xs,
.ory-cell-xs-1,
.ory-cell-xs-2,
.ory-cell-xs-3,
.ory-cell-xs-4,
.ory-cell-xs-5,
.ory-cell-xs-6,
.ory-cell-xs-7,
.ory-cell-xs-8,
.ory-cell-xs-9,
.ory-cell-xs-10,
.ory-cell-xs-11,
.ory-cell-xs-12,
.ory-cell-xs-offset-0,
.ory-cell-xs-offset-1,
.ory-cell-xs-offset-2,
.ory-cell-xs-offset-3,
.ory-cell-xs-offset-4,
.ory-cell-xs-offset-5,
.ory-cell-xs-offset-6,
.ory-cell-xs-offset-7,
.ory-cell-xs-offset-8,
.ory-cell-xs-offset-9,
.ory-cell-xs-offset-10,
.ory-cell-xs-offset-11,
.ory-cell-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-right: 8px;
  padding-right: 0.5rem;
  padding-right: 0px;
  padding-right: 0rem;
  padding-left: 8px;
  padding-left: 0.5rem;
  padding-left: 0px;
  padding-left: 0rem;
  min-width: 0;
}

.ory-cell-xs {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  width: 100%;
  min-width: 100%;
}

.ory-cell-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%;
  width: 8.33333333%;
}

.ory-cell-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%;
  width: 16.66666667%;
}

.ory-cell-xs-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  width: 25%;
  min-width: 25%;
}

.ory-cell-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%;
  width: 33.33333333%;
}

.ory-cell-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%;
  width: 41.66666667%;
}

.ory-cell-xs-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 50%;
  min-width: 50%;
}

.ory-cell-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%;
  width: 58.33333333%;
}

.ory-cell-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
  width: 66.66666667%;
}

.ory-cell-xs-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  width: 75%;
  min-width: 75%;
}

.ory-cell-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%;
  width: 83.33333333%;
}

.ory-cell-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%;
  width: 91.66666667%;
}

.ory-cell-xs-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
  min-width: 100%;
}

.ory-cell-xs-offset-0 {
  margin-left: 0;
}

.ory-cell-xs-offset-1 {
  margin-left: 8.33333333%;
}

.ory-cell-xs-offset-2 {
  margin-left: 16.66666667%;
}

.ory-cell-xs-offset-3 {
  margin-left: 25%;
}

.ory-cell-xs-offset-4 {
  margin-left: 33.33333333%;
}

.ory-cell-xs-offset-5 {
  margin-left: 41.66666667%;
}

.ory-cell-xs-offset-6 {
  margin-left: 50%;
}

.ory-cell-xs-offset-7 {
  margin-left: 58.33333333%;
}

.ory-cell-xs-offset-8 {
  margin-left: 66.66666667%;
}

.ory-cell-xs-offset-9 {
  margin-left: 75%;
}

.ory-cell-xs-offset-10 {
  margin-left: 83.33333333%;
}

.ory-cell-xs-offset-11 {
  margin-left: 91.66666667%;
}

.start-xs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.end-xs {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.middle-xs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-xs {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.between-xs {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media only screen and (min-width: 48em) {
  .ory-cell-sm,
  .ory-cell-sm-1,
  .ory-cell-sm-2,
  .ory-cell-sm-3,
  .ory-cell-sm-4,
  .ory-cell-sm-5,
  .ory-cell-sm-6,
  .ory-cell-sm-7,
  .ory-cell-sm-8,
  .ory-cell-sm-9,
  .ory-cell-sm-10,
  .ory-cell-sm-11,
  .ory-cell-sm-12,
  .ory-cell-sm-offset-0,
  .ory-cell-sm-offset-1,
  .ory-cell-sm-offset-2,
  .ory-cell-sm-offset-3,
  .ory-cell-sm-offset-4,
  .ory-cell-sm-offset-5,
  .ory-cell-sm-offset-6,
  .ory-cell-sm-offset-7,
  .ory-cell-sm-offset-8,
  .ory-cell-sm-offset-9,
  .ory-cell-sm-offset-10,
  .ory-cell-sm-offset-11,
  .ory-cell-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-right: 0rem;
    padding-left: 0.5rem;
    padding-left: 0rem;
    min-width: 0;
  }

  .ory-cell-sm {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    width: 100%;
  min-width: 100%;
  }

  .ory-cell-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
    width: 8.33333333%;
  }

  .ory-cell-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
    width: 16.66666667%;
  }

  .ory-cell-sm-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    width: 25%;
  min-width: 25%;
  }

  .ory-cell-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    width: 33.33333333%;
  }

  .ory-cell-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
    width: 41.66666667%;
  }

  .ory-cell-sm-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    width: 50%;
  min-width: 50%;
  }

  .ory-cell-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
    width: 58.33333333%;
  }

  .ory-cell-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
    width: 66.66666667%;
  }

  .ory-cell-sm-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    width: 75%;
  min-width: 75%;
  }

  .ory-cell-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    width: 83.33333333%;
  }

  .ory-cell-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
    width: 91.66666667%;
  }

  .ory-cell-sm-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  min-width: 100%;
  }

  .ory-cell-sm-offset-0 {
    margin-left: 0;
  }

  .ory-cell-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .ory-cell-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .ory-cell-sm-offset-3 {
    margin-left: 25%;
  }

  .ory-cell-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .ory-cell-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .ory-cell-sm-offset-6 {
    margin-left: 50%;
  }

  .ory-cell-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .ory-cell-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .ory-cell-sm-offset-9 {
    margin-left: 75%;
  }

  .ory-cell-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .ory-cell-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-sm {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .end-sm {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .middle-sm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bottom-sm {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .between-sm {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .first-sm {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .last-sm {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (min-width: 64em) {
  .ory-cell-md,
  .ory-cell-md-1,
  .ory-cell-md-2,
  .ory-cell-md-3,
  .ory-cell-md-4,
  .ory-cell-md-5,
  .ory-cell-md-6,
  .ory-cell-md-7,
  .ory-cell-md-8,
  .ory-cell-md-9,
  .ory-cell-md-10,
  .ory-cell-md-11,
  .ory-cell-md-12,
  .ory-cell-md-offset-0,
  .ory-cell-md-offset-1,
  .ory-cell-md-offset-2,
  .ory-cell-md-offset-3,
  .ory-cell-md-offset-4,
  .ory-cell-md-offset-5,
  .ory-cell-md-offset-6,
  .ory-cell-md-offset-7,
  .ory-cell-md-offset-8,
  .ory-cell-md-offset-9,
  .ory-cell-md-offset-10,
  .ory-cell-md-offset-11,
  .ory-cell-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-right: 0rem;
    padding-left: 0.5rem;
    padding-left: 0rem;
    min-width: 0;
  }

  .ory-cell-md {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    width: 100%;
  min-width: 100%;
  }

  .ory-cell-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
    width: 8.33333333%;
  }

  .ory-cell-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
    width: 16.66666667%;
  }

  .ory-cell-md-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    width: 25%;
  min-width: 25%;
  }

  .ory-cell-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    width: 33.33333333%;
  }

  .ory-cell-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
    width: 41.66666667%;
  }

  .ory-cell-md-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    width: 50%;
  min-width: 50%;
  }

  .ory-cell-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
    width: 58.33333333%;
  }

  .ory-cell-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
    width: 66.66666667%;
  }

  .ory-cell-md-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    width: 75%;
  min-width: 75%;
  }

  .ory-cell-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    width: 83.33333333%;
  }

  .ory-cell-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
    width: 91.66666667%;
  }

  .ory-cell-md-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  min-width: 100%;
  }

  .ory-cell-md-offset-0 {
    margin-left: 0;
  }

  .ory-cell-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .ory-cell-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .ory-cell-md-offset-3 {
    margin-left: 25%;
  }

  .ory-cell-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .ory-cell-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .ory-cell-md-offset-6 {
    margin-left: 50%;
  }

  .ory-cell-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .ory-cell-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .ory-cell-md-offset-9 {
    margin-left: 75%;
  }

  .ory-cell-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .ory-cell-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-md {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .end-md {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .middle-md {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bottom-md {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .between-md {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .first-md {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .last-md {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (min-width: 75em) {
  .ory-cell-lg,
  .ory-cell-lg-1,
  .ory-cell-lg-2,
  .ory-cell-lg-3,
  .ory-cell-lg-4,
  .ory-cell-lg-5,
  .ory-cell-lg-6,
  .ory-cell-lg-7,
  .ory-cell-lg-8,
  .ory-cell-lg-9,
  .ory-cell-lg-10,
  .ory-cell-lg-11,
  .ory-cell-lg-12,
  .ory-cell-lg-offset-0,
  .ory-cell-lg-offset-1,
  .ory-cell-lg-offset-2,
  .ory-cell-lg-offset-3,
  .ory-cell-lg-offset-4,
  .ory-cell-lg-offset-5,
  .ory-cell-lg-offset-6,
  .ory-cell-lg-offset-7,
  .ory-cell-lg-offset-8,
  .ory-cell-lg-offset-9,
  .ory-cell-lg-offset-10,
  .ory-cell-lg-offset-11,
  .ory-cell-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-right: 0rem;
    padding-left: 0.5rem;
    padding-left: 0rem;
    min-width: 0;
  }

  .ory-cell-lg {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    width: 100%;
  min-width: 100%;
  }

  .ory-cell-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
    width: 8.33333333%;
  }

  .ory-cell-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
    width: 16.66666667%;
  }

  .ory-cell-lg-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    width: 25%;
  min-width: 25%;
  }

  .ory-cell-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    width: 33.33333333%;
  }

  .ory-cell-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
    width: 41.66666667%;
  }

  .ory-cell-lg-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    width: 50%;
  min-width: 50%;
  }

  .ory-cell-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
    width: 58.33333333%;
  }

  .ory-cell-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
    width: 66.66666667%;
  }

  .ory-cell-lg-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    width: 75%;
  min-width: 75%;
  }

  .ory-cell-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    width: 83.33333333%;
  }

  .ory-cell-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
    width: 91.66666667%;
  }

  .ory-cell-lg-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  min-width: 100%;
  }

  .ory-cell-lg-offset-0 {
    margin-left: 0;
  }

  .ory-cell-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .ory-cell-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .ory-cell-lg-offset-3 {
    margin-left: 25%;
  }

  .ory-cell-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .ory-cell-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .ory-cell-lg-offset-6 {
    margin-left: 50%;
  }

  .ory-cell-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .ory-cell-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .ory-cell-lg-offset-9 {
    margin-left: 75%;
  }

  .ory-cell-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .ory-cell-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-lg {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .end-lg {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .middle-lg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bottom-lg {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .between-lg {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .first-lg {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .last-lg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.ory-row-has-floating-children {
  display: block !important;
}

.ory-row-is-hovering-this:before {
  content: " ";
  position: absolute;
  background: black;
  display: block;
  background: rgba(0, 0, 0, .87);
  z-index: 2;
}

.ory-row-is-hovering-above:before {
  top: 0;
  height: 4px;
  width: 100%;
}

.ory-row-is-hovering-below:before {
  bottom: 0;
  height: 4px;
  width: 100%;
}

.ory-row-is-hovering-left-of:before {
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
}

.ory-row-is-hovering-right-of:before {
  top: 0;
  right: 0;
  bottom: 0;
  width: 4px;
}

.ory-editable {
  position: relative;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align:stretch;
      -ms-flex-align:stretch;
          align-items:stretch;
}

.ory-cell-draggable {
  cursor: move;
  position: relative;
  transition: opacity 200ms ease;
  /* resolves an issue with drag and drop preview in chrome, see https://github.com/ory/editor/issues/180 */
  /* will-change: transform; */
}

.ory-cell-draggable-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  cursor: move;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all ease .4s;
}

.ory-cell-draggable-overlay:hover {
  background: rgba(0, 0, 0, .26);
  border: 1px solid rgba(255, 255, 255, .54);
  background-blend-mode: screen;
}

.ory-cell-draggable-overlay-description {
  text-align: center;
  display: block;
  color: rgba(0, 0, 0, .97);
  max-width: 100%;
}

.ory-cell-draggable-overlay-description span {
  opacity: 0;
  text-align: center;
  color: rgba(0, 0, 0, .97);
  max-width: 90%;
  display: inline-block;
  padding: 8px 22px;
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
  text-transform: uppercase;
  font-size: 75%;
  letter-spacing: 0.15em;
  background: rgba(255, 255, 255, 0);
  transition: all ease .4s;
}

.ory-cell-draggable-overlay:hover .ory-cell-draggable-overlay-description span {
  background: rgba(255, 255, 255, .95);
  opacity: 1;
}

.ory-cell-draggable-overlay.ory-cell-draggable-leaf {
  z-index: 3;
}

.ory-cell-draggable-inline-left.ory-cell-draggable-overlay,
.ory-cell-draggable-inline-right.ory-cell-draggable-overlay {
  float: left;
  z-index: 4;
}

.ory-cell-draggable-is-dragging {
  opacity: 0.4;
  outline: none;
}

.ory-cell-droppable {
  position: relative;
}

.ory-cell-droppable-is-over-current:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, .87);
}

.ory-cell-droppable-is-over-above:before,
.ory-cell-droppable-is-over-below:before {
  border-left: 0;
  border-right: 0;
}

.ory-cell-droppable-is-over-left-of:before,
.ory-cell-droppable-is-over-right-of:before {
  border-top: 0;
  border-bottom: 0;
}

.ory-cell-droppable-is-over-above:before {
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-left: 0;
  border-right: 0;
}

.ory-cell-droppable-leaf.ory-cell-droppable-is-over-above:before {
  height: 4px;
}

.ory-cell-droppable-is-over-below:before {
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
}

.ory-cell-droppable-leaf.ory-cell-droppable-is-over-below:before {
  height: 4px;
}

.ory-cell-droppable-is-over-left-of:before {
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
}

.ory-cell-droppable-leaf.ory-cell-droppable-is-over-left-of:before {
  width: 4px;
}

.ory-cell-droppable-is-over-right-of:before {
  top: 0;
  right: 0;
  bottom: 0;
  width: 4px;
}

.ory-cell-droppable-leaf.ory-cell-droppable-is-over-right-of:before {
  width: 4px;
}

.ory-cell-droppable-is-over-inline-right:before,
.ory-cell-droppable-is-over-inline-left:before {
  top: 0;
  width: 50%;
  height: 36%;
  max-height: 128px;
  background-color: #e0e0e0;
  border: 1px solid rgba(0, 0, 0, .26);
}

.ory-cell-droppable-is-over-inline-left:before {
  left: 0;
}

.ory-cell-droppable-is-over-inline-right:before {
  right: 0;
}

.ory-cell-empty {
  background-color: red;
  padding: 8px;
  margin: 2px;
  overflow: hidden;
}

.ory-cell-empty strong {
  margin: 0 auto;
}

.ory-cell-empty code {
  overflow: scroll;
}

@-webkit-keyframes oryCellResizeableAnimate {
  0% {
    background-color: rgba(255, 255, 255, .26);
    top: 45%;
    bottom: 45%;
  }
  50% {
    background-color: rgba(255, 255, 255, .12);
    top: 0;
    bottom: 0;
  }
  100% {
    background-color: rgba(255, 255, 255, .87);
    top: 45%;
    bottom: 45%;
  }
}

@keyframes oryCellResizeableAnimate {
  0% {
    background-color: rgba(255, 255, 255, .26);
    top: 45%;
    bottom: 45%;
  }
  50% {
    background-color: rgba(255, 255, 255, .12);
    top: 0;
    bottom: 0;
  }
  100% {
    background-color: rgba(255, 255, 255, .87);
    top: 45%;
    bottom: 45%;
  }
}

.ory-cell-resizable-inline-right > .react-resizable-handle {
  left: -4px;
}

.ory-cell-resizable.react-resizable > .react-resizable-handle {
  position: absolute;
  z-index: 5;
  width: 4px;
  top: 0;
  bottom: 0;
  right: -2px;
  cursor: e-resize;
  background-color: rgba(0, 0, 0, .54);
  mix-blend-mode: difference;
  transition: all 200ms linear;
}

.ory-cell-resizable.react-resizable > .react-resizable-handle:after {
  content: " ";
  background-color: rgba(255, 255, 255, .87);
  /* width: 30px; */
  /* height: 30px; */
  position: absolute;
  /* z-index: 1000; */
  top: 45%;
  bottom: 45%;
  left: 0;
  right: 0;
  transition: all 200ms linear;
  mix-blend-mode: normal;

  -webkit-animation-name: oryCellResizeableAnimate;

          animation-name: oryCellResizeableAnimate;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.ory-cell-resizable.react-resizable > .react-resizable-handle:hover:after,
.ory-cell-resizable.react-resizable > .react-resizable-handle:active:after {
  background-color: rgba(255, 255, 255, 1);
  top: 0;
  bottom: 0;
}

.ory-cell-inline-left {
  float: left;
}

.ory-cell-inline-right {
  float: right;
}

.ory-cell-has-inline-neighbour {
  float: none;
  width: 100%;
}

.ory-cell-focused {
  /* box-shadow: 0 0 5px rgb(81, 203, 238); */
  /* outline: 1px solid rgb(81, 203, 238); */
}

.ory-cell {
  position: relative;
}

.ory-cell-bring-to-front {
  z-index: 1;
}

.ory-cell-resizing-overlay:after {
  content: " ";
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}